@typeparam TResult

@if (JobInfo != null)
{
    <h3>Background Job: @JobInfo.RequestType</h3>
    <p>
        <span>Status: @JobInfo.Status.ToString()</span>
        <span> | </span>
        <span>Started: @JobInfo.Started</span>

        @if (JobInfo.IsRunning)
        {
            <span> | </span>
            <span><img src="~/img/loading.gif"/></span>
        }
    </p>

    @if (Result != null)
    {
        <div>
            @ChildContent
        </div>
    }
}

<hr/>

@code {
    [Parameter]
    public JobTracker JobInfo { get; set; }

    [Parameter]
    public TResult Result { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
