@page "/"
@inject JobTrackerRepository Jobs
@inject QueueManager QueueManager
@inject ILogger<Index> Logger

<h1>Notification Demo</h1>

<button class="btn btn-primary" @onclick="RunTask">Queue a Task</button>

@if (MyJobs != null)
{
    foreach (var job in MyJobs)
    {
        <BackgroundJob JobInfo="job" Cleared="OnCleared"/>
    }
}

@code { 
    const string userName = "demo-user";

    IEnumerable<JobTracker> MyJobs;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshList();        
    }

    async Task RefreshList()
    {
        MyJobs = await Jobs.ActiveJobsByUser(userName);
    }

    async Task RunTask()
    {
        await QueueManager.ZipBuilder.QueueJobAsync(userName, new ZipRequest()
        {
            ContainerName = "sample-uploads",
            BlobPrefix = "anonUser"
        }, Jobs, Logger);

        await RefreshList();
    }
    
    async Task OnCleared()
    {
        await RefreshList();
    }
}