@page "/"
@inject JobTrackerRepository Jobs

<h1>Notification Demo</h1>



@code { 
    const string userName = "demo-user";

    IEnumerable<JobTracker> MyJobs;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        MyJobs = await Jobs.ActiveJobsByUser(userName);
    }
}